*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    /* background-color: #272C30; */
    background-color: #EFF5F5;
}
nav.navbar{
    background-color: #497174;
    
}
.title{
    padding-right: 15px;
    font-weight: bold;
    font-size: 20px;
}
a.text-color{
    color: #fff;
    text-decoration: none;
}
.active{
    color: #CDCFCF !important;
    background-color: #364447;
    font-weight: bold;
}
.carousel-inner img{
    height: 450px;
    width: 950px;
}
.carousel slide{
    width: 500px;
}
.nav-link{
    color: #fff !important;
}
.fond{
    background: url("./icons/fondo3.jpg") center;
}
img{
    width: 350px;
    height: 300px;
}

.titulo{
    color: #497174;
    padding: 20px;
    font-weight: bold;
}


.music-player-container{
    background: url("./icons/fondom.jpg") center;
    /* background: linear-gradient(30deg, rgba(47,61,60,0.65), rgba(0,0,0,0.85)); */
    backdrop-filter: blur(10px);
    height: 240px;
    width: 25vw;
    margin-top: 20px;
    opacity: 0.68;
    border-radius: 10px;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-music-container{
    padding-top: 50px;
    width: 80%;
    height: 80%;
    width: fit-content;
    color: white;
    margin-right: auto;
    margin-left: 10%;
}

.song-title{
    font-weight: 600;
    font-size: 25px;
    color: white;
    letter-spacing: 0.5px;
}

.song-author{
    margin-top: 0.1rem;
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.1px;
}

.controls-music-container{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-song-container{
    margin-top: 0.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-bar{
    height: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    position: relative;
}

.progress{
    position: absolute;
    height: 100%;
    width: 0%;
    border-radius: 3px;
    background-color: white;
}

.time-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(167, 167, 167);
    font-size: 12px;
}

.time-left{
    margin-top: 0.3rem;
}

.main-song-controls{
    height: 30px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon{
    height: 100%;
    width: auto;
    cursor: pointer;
}

.icon:hover{
    opacity: 1;
}

audio{
    display: none;
}
.separar a{
    margin-left: 10px;
    color:#fff;
    background-color: #EB6440;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}

/***********Colores***********************/
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  .wrapper .text {
    font-size: 35px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: #676767;
  }
  .wrapper .credit {
    padding: 10px 0;
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: #676767;
  }
  .wrapper .credit a {
    color: #A152FF;
    font-weight: 400;
    text-decoration: none;
  }
  
  .contenedor {
    width: 800px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .contenedor div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 150px;
    height: 150px;
    margin: 3px;
    padding-bottom: 5px;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.46, 0.96);
    font-size: 24px;
    border-radius: 6px;
  }
  
  .button {
    background: #00aced;
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 16px;
    color: #FFF;
    border-radius: 100px;
    line-height: 10px;
  }
  
  .button:hover {
    background: #00aced;
    color: #FFF;
    line-height: 10px;
  }
