*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor11{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    /* background-color: #272C30; */
    background-color: #EFF5F5;
}
nav.navbar{
    background-color: #497174;
    
}
.title{
    padding-right: 15px;
    font-weight: bold;
    font-size: 20px;
}
a.text-color{
    color: #fff;
    text-decoration: none;
}
.active{
    color: #CDCFCF !important;
    background-color: #364447;
    font-weight: bold;
}
.carousel-inner img{
    height: 450px;
    width: 950px;
}
.carousel slide{
    width: 500px;
}
.nav-link{
    color: #fff !important;
}
img{
    width: 350px;
    height: 300px;
}

.titulo{
    color: #497174;
    padding: 20px;
    font-weight: bold;
}
.separar a{
    margin-left: 10px;
    color:#fff;
    background-color: #EB6440;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}

/***********Colores***********************/
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
  }
  .contenedor {
    width: 800px;
    height: 350px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-weight: bold;
    background-color: #D6E4E5;
    letter-spacing: 2px;
  }
  .contenedor div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 150px;
    height: 180px;
    margin: 3px;
    padding-bottom: 5px;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.46, 0.96);
    font-size: 24px;
    border-radius: 6px;
  }
  
  .btn-generar {
    background: #EB6440;
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    color: #FFF;
    border-radius: 100px;
    line-height: 10px;
  }
  
  .btn-generar:hover {
    background: #EC8164;
    color: #FFF;
    line-height: 10px;
  }
